<!doctype html>

{% load static%}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    {% load static %}<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
 
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
        <div class="col-md-6 p-lg-5 mx-auto my-5">
          <h1 class="display-3 fw-bold">SUDEEP KUMAR GIRI</h1>
          <h3 class="fw-normal text-muted mb-3">Life like a sin graph, has its high and lows<br>
        but whether it is positive or negative<br>
    depends on your input values.</h3>
          
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
      </div>

      
      <div class="box">
        <div class="logo">
            <img src="{% static 'images\SUPR0.jpg' %}"     alt="SUDEEP"/>
        </div>

        <div class="write">
            <h1>HELLO Fellowreader , </h1>
         S-MART is an ecommerce website , an online shopping destination.<br>
         It allows the user to browse and purchase products or services<br>
         over the internt.Users can create account onthe site to save their<br>
         prefernces , views their order history and more.They can also add<br>
         products in the shopping carts and review their orders before making purchse<br>
         This site offers a range of payment choices , including credit cards<br>
         debit card and online payment services like PayPal.<br>
         Hope you have a great hopping experince here.
       <p id="quote">"Whoever said money can't buy happiness<br>
        didn't know where to go shopping"-BO Derek</p>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</htmll>