
<!doctype html>

{% load static%}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
   {% load static %}<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carosel.min.css'%}">
   {% load static %}<link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css'%}">
   {% load static %}<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
       <div>   <img src="{% static 'images\3.jpg' %}" />  </div>
       <div> <h3> S-MART </h3></div>
        </a>
       
      </div>
    </nav>

    
    <div class="card">
        <div class="card-body">

<h1>LOGIN</h1>
<form method = 'post'>
   
    {{form.as_p}}

    {% csrf_token %}
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
   <p class="alert alert-danger my-3"> {{error}}</p>
    {% endfor %}
    {% endif %}
    <input type = "submit" value = "Submit">
</form>
 
<h3>Dont have an account??</h3><br>
<a href = "{% url 'signup' %}">SignUp Here</a>


</div>
</div>





    <footer class="container-fluid bg-dark text-center  text-white fixed-bottom p-2 mt-5">
        copyright: 2023 || Developed By SUDEEP
      </footer>








    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    
    <script script="{% static 'js/owl.carousel.min.js' %}"></script>
    <script script="{% static 'js/all.min.js' %}"></script>
    <script script="{% static 'js/myscript.js' %}"></script>
  </body>
</html>