

<!doctype html>

{% load static%}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
   {% load static %}<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carosel.min.css'%}">
   {% load static %}<link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css'%}">
   {% load static %}<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'about' %}">
       <div>   <img src="{% static 'images\3.jpg' %}" /> </div>
       <div> <h3> S-MART </h3></div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="{% url 'index' %}">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">DEAL OF THE DAY</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  ACCOUNT
              </a>
              <ul class="dropdown-menu">
                  
                  <li><a class="dropdown-item" href="{% url 'showcart' %}">ORDER</a></li>
                  
                  <li><a class="dropdown-item" href="#">CHANGE PASSWORD</a></li>
                  
                  
                  
                  <li>
                      <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="{% url 'login' %}">LOGIN</a></li>
                  <li><a class="dropdown-item" href="#">LOGOUT</a></li>
              </ul>
          </li>

      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            CATEGORY
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">MEN</a></li>
            <li><a class="dropdown-item" href="#">WOMEN</a></li>
            <li><a class="dropdown-item" href="#">KID</a></li>
            
           
        </ul>
    </li>


          
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </form>

          <li class="nav-item mx-2 ">
            <a class="nav-link " href="{% url 'showcart' %}">CART 4</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link " href="{% url 'showcart' %}">WISHLIST 4</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link " href="{% url 'signup' %}">SIGN UP</a>
          </li>
        </ul>
        </div>
      </div>
    </nav>



   <div class="container">
    <div class= "row flex justify-content-between">
        <div class="img2 col-lg-5 mt-5">
            <img src="{{product.product_image.url}}"class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center w-100 h-75"
            alt=""
            >
        </div>
        <div class="productdetail col-lg-5">
            <h1 style="font-family: Georgia; font-size: 50px;">{{product.title}}</h1>   
            <h5>Rs.{{product.discounted_price}}/-</h5>
            <small class="text-decoration-line-through text-muted fs-5"><del>Rs.{{product.selling_price}}/- </small></del>
            <br><br><h4>Product Features</h4>
            <ul class="fs-5" style="font-family: Rajdhani;">
                <li>{{product.description}}</li>
            </ul>
         
              <form action="/addcart" class="d-inline">
                <input type="hidden" name="prod_id" value={{product.id}} />
                <button type="sumbit" class="btn btn-primary shadow px-5 py-2">
                    Add to Cart</button>
                </form>
                    <a href="{% url 'showcart' %}" class="btn btn-warning shadow px-5 py-2 ms-4">Buy Now</a>
           
        </div>  
    </div>
</div>                                  
    <footer class="container-fluid bg-dark text-center  text-white fixed-bottom p-2 mt-5">
        copyright: 2023 || Developed By SUDEEP
      </footer>








    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/myscript.js' %}"></script>
    <script src="{%  static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{%  static 'js/jquery-ui-1.12.1' %}"></script>
  </body>
</html>
